
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted red; */
}
/* Prevent any horizontal scrolling on the page ( it is responsive but ghost overflow happens) */
/* html, body {
    overflow-x: hidden;
} */

/* container styles */
.container {
    max-width: 1220px;
    margin: 0 auto; 
    padding: 0 20px; 
}
/* shared styles */
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.inter-semi-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.noto-serif-regular {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.noto-serif-bold {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.orange-clr {
    color: #E95A08;
}
.blackish-clr {
    color: #252432;
}
.black-clr {
    color: #000000;
}
.grayish-clr {
    color: #8987A1;
}
.gray-clr {
    color: gray;
}
.darkGray-clr {
    color: #111111;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    border: none;
    width: 100%;
    height: 40px;
}

/* main styles */

/* header styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 40px; 
}
.nav-right a, .nav-cart{
    font-size: 2em;
}
.navbar-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
}
.navbar-menu a {
    text-decoration: none;
}
.nav-cart {
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-logo img {
    height: 90px;
}

/* banner styles */
.banner-section {
    padding: 50px 0;
}
.banner-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.banner-image{
    width: 100vw;
    margin-left: 39px;
}
.banner-content, .banner-image {
    flex: 1;
}
.banner-content h2{
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 15px;
    padding-left: 5px;
}
.banner-content p{
    font-size: 17px;
    line-height: 1.2;
    padding-left: 10px;
}
.banner-image img{
    width: 100%;
    display: block;
}


/* plants section */
.plants-section{
    padding: 70px 0;
}
.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700px;
    margin: 0 auto 30px auto;
}
.section-title h2{
    font-size: 50px;
    margin-bottom: 16px;
}
.section-title p{
    font-size: 22px;
    margin-bottom: 35px;
}
.plant-card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.plant-card h3{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 24px;
}
.plant-card p{
    margin-bottom: 20px;
    font-size: 24px;
}
.plant-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.plant-img img {
    width: 100%;
}


    
/* section */


    
/*  section */

/* Responsiveness */
/* phone size */
@media(max-width: 768px) {

    .container {
        /* This prevents a horizontal scrollbar from the full-bleed image */
        /* width: 100%; */
        /* overflow-x: clip; A modern way to hide overflow */
    }
    .navbar-menu {
        display: none;
    }
    .nav-logo img {
    height: 70px;
    }
    .nav-cart{
        font-size: 1.4em;
    }
    .nav-right{
        gap: 0;
    }

/* Banner Styles */
    .banner-container {
        flex-direction: column;
    }
    .banner-content, .banner-image {
        flex: none; 
        width: 100%; 
    }
    .banner-image {
        order: 1; /* Image first */
        margin-bottom: 20px;
        
    }
    .banner-content {
        order: 2; /* Content second */
    }
    .banner-content h2 {
        font-size: 36px;
    }

/* plants section */
    .plant-container{
    grid-template-columns:  repeat(2, 1fr);
    gap: 25px;
    }
    .plant-card:nth-child(n + 7) {
    display: none;
    }
}

/* Tablet size */
@media (min-width:769px) and (max-width: 1200px) {
    .plant-container {
        grid-template-columns: repeat(3, 1fr);
    }
}